@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

*{
  font-family: 'Manrope';
}

.font-inter{
  font-family: 'Inter' !important;
}

button{
  cursor: pointer !important;
}

.react-multi-carousel-dot-list{
    background-color: white !important;
}

.react-multi-carousel-dot > button{
 background-color: #9DA3AF !important;
 outline: none !important;
 border: none !important;
 /* background-color: red !important; */
}
.react-multi-carousel-dot--active > button{
    width: 30px !important;
    height: 10px !important;
    border-radius: 10px !important;
    background-color: #015595 !important;
    outline: none !important;
 border: none !important;
}
.react-multi-carousel-dot-list{
    background-color: red !important;
}